<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        {% if provider == 'google' %}
            <script src="https://apis.google.com/js/platform.js" async defer></script>
            <script>
            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                console.log('User signed out.');
                });
            }
            </script>
        {% endif %}
    </head>
<body>
<table align-self='center' width='90%'>
    <tr>
        <td>
            <span style='align-self:left'>
                <a href='{{url_for("home")}}'>Home</a>
            </span>
            <span style='align-self:right'>
            {% if logged_in %}
                {% if provider == 'facebook' %}
                    <a href='{{url_for("fdisconnect")}}'>Logout</a>
                {% elif provider == 'google' %}
                    <a href='{{url_for("gdisconnect")}}'>Logout</a>
                {% endif %}
            {% else %}
                <a href='{{url_for("showLogin")}}'>Login</a>
            {% endif %}
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <div class = 'flash'>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    
                    <ul>
                    {% for message in messages %}
                        <li> <strong> {{ message }} </strong> </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
          </div>
<!--content here-->
